$sizeS: 8px;
$sizeM: 16px;
$sizeL: 24px;
$sizeXL: 32px;

$fontS: 1rem;
$fontM: 1.2rem;
$fontL: 1.5rem;
$fontXL: 2rem;
$fontXXL: 3rem;

$color-text-primary: #FFFFFF;
$color-text-secondary: #CCCCCC;

$color-info: #51BBFE;
$color-info-hover: #61CBFF;
$color-danger: #ED6A5A;
$color-success: #00C49A;
$color-warning: #FFBC42;
