$sizeS: 8px;
$sizeM: 16px;
$sizeL: 24px;
$sizeXL: 32px;

$fontS: 1rem;
$fontM: 1.2rem;
$fontL: 1.5rem;
$fontXL: 2rem;
$fontXXL: 3rem;

$color-text-primary: #FFFFFF;
$color-text-secondary: #AAAAAA;

$background-blue: #51BBFE;
$background-red: #ED6A5A;
$background-green: #00C49A;
$background-yellow: #FFBC42;
