html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    title lilastio.pro

    link(rel="icon", href='./assets/img/logo.png')
    link(href=require('./styles/main.scss') rel='stylesheet')
  body
    .content
      .block
        h2.header Привет, я — Настя!
        div.text Твой мастер по оформлению бровей и ламинированию ресниц

        .social-links
          a.vk(href="https://vk.com/lilastiopro" target="_blank")
            img.icon(src="./assets/icon/vk.svg")
          a.insta(href="https://www.instagram.com/lilastio.pro" target="_blank")
            img.icon(src="./assets/icon/insta.svg")

        img.avatar(src="./assets/img/avatar.png")

        a(href="https://vk.com/im?sel=-217507482" target="_blank")
          .button Записаться

      .block
        h2.header Цены
        .key-value
          .pair
            .key Коррекция бровей
            .value 600 ₽
          .pair
            .key
              .key-main Коррекция
              .key-plus + окрашивание
            .value 1 000 ₽
          .pair
            .key
              .key-main Долговременная укладка
              .key-plus + окрашивание
              .key-plus + коррекция
            .value 1 600 ₽
          .pair
            .key
              .key-main Ламинирование ресниц
              .key-plus + окрашивание
            .value 1 400 ₽

      .block
        h2.header Где меня найти
        div.text
          a(href="https://yandex.ru/maps/org/your_backstage/47720461003" target="_blank")
            | Your Backstage
        div.text.secondary (СПб, м. Чёрная речка, Савушкина 10)
